.experience-section {
  text-align:left;
  margin: 30px auto;
  max-width: 700px;
  margin-top: 40%;
  margin-left: 0px;
}

.experience-section p {
  text-align: left;
  font-size: 0.95em;
  line-height: 1.6;
  color: #fff;
  margin-top: 40%;
}
